[submodule "vendor/vuejs-ai"]
	path = vendor/vuejs-ai
	url = https://github.com/vuejs-ai/skills
[submodule "vendor/vercel-labs"]
	path = vendor/vercel-labs
	url = https://github.com/vercel-labs/agent-skills
[submodule "vendor/antfu"]
	path = vendor/antfu
	url = https://github.com/antfu/skills
[submodule "sources/styleguide"]
	path = sources/styleguide
	url = https://github.com/google/styleguide
